*.o
dxpb-*
check_*
harness-*
src/use*
src/use*.c
!check_*.c
!runsv/dxpb*
!dxpb-*.c
!dxpb-*.h
dxpb-version.h
dxpb-version.txt
!*.txt
!*.inc
!harness-*.c
.container
src/gmon.out
src/shim-builder
**/conf.yml
!**/conf.yml.example
go/ircbot/bin/
go/ircbot/pkg
